// gray-color-variables
$white: #ffffff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000000;

// color-variables
$blue: #2565d3; //use
$indigo: #7437f4; //use
$purple: #e231fb; //use
$pink: #c1307b; //use
$red: #bf143e; //use
$orange: #fd7e14;
$yellow: #dcb54e;
$green: #85cd13;
$teal: #20c997;
$cyan: #55caff; //use
$gray: #9a9a9a; //use
$dark: #06070a; //use
$dark-90: rgba($dark, 0.9);
$dark-70: rgba($dark, 0.7);
$dark-50: rgba($dark, 0.5);
$dark-30: rgba($dark, 0.3);
$dark-20: rgba($dark, 0.2);

// theme-color-variables
$font: $white;
$primary: $yellow;
$secondary: $indigo;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;

// backgrounds
$main-bg: #f7f7f7;
$dark-bg: $dark;
$styled-bg: #333333;
$gray-bg: #f4f7f7;
$input-bg: rgba($white, 0.21);
$overlay-bg: rgba(#232323, 0.87);
$scroll-bg: rgba(119, 119, 119, 0.3);
$scroll-bg-track: transparent;
$card-bg: #efefef;
$element-bg: #F1F1F1;
$element-bg-active: rgba(0, 87, 255, 0.1);

// borders
$border-card: #dbdbdb;
$border-form: #E0E0E0;
$border-pagination: #F2F2F2;
$separator: #F7F7F7;

// transitions
$transition: all .3s ease;

// corners
$corner: 8px;
$corner-5: 5px;
$corner-30: 30px;

// gradient
$gradient: linear-gradient(111deg, rgba(123,201,0,1) 0%, rgba(155,214,62,1) 100%);
$gradient-invert: linear-gradient(111deg, rgba(123,201,0,1) 100%, rgba(155,214,62,1) 0%);

// shadows
$shadow: 0px 0px 59px 0px rgba(0, 0, 0, 0.11);
$shadow-bottom: 0px 5px 10px -3px rgba(0, 0, 0, 0.09);
$shadow-text: -0 -1px 0 #FFFFFF, 0 -1px 0 #FFFFFF, -0 1px 0 #FFFFFF, 0 1px 0 #FFFFFF, -1px -0 0 #FFFFFF,
1px -0 0 #FFFFFF, -1px 0 0 #FFFFFF, 1px 0 0 #FFFFFF, -1px -1px 0 #FFFFFF, 1px -1px 0 #FFFFFF, -1px 1px 0 #FFFFFF,
1px 1px 0 #FFFFFF, -1px -1px 0 #FFFFFF, 1px -1px 0 #FFFFFF, -1px 1px 0 #FFFFFF, 1px 1px 0 #FFFFFF;


$dots-leader: '. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ';
