//CSS style for fancybox carousel
.carousel{
    &__viewport{
        position: relative;

        &:before,
        &:after{
            content: '';
            position: absolute;
            top: 50px;
            width: 100px;
            height: 100%;

            filter: blur(20px);
            z-index: 2;

            @include media-mdx{
                display: none;
            }
        }

        &:before{
            left: -50px;
            background: linear-gradient(90deg, rgba(83, 46, 102, 0.9) 50%, rgba(83, 46, 102, 0) 100%);
        }

        &:after{
            right: -20px;
            background: linear-gradient(90deg, rgba(26, 57, 115, 0) 0%, rgba(26, 57, 115, 0.9) 100%);
        }
    }

    &__nav{
        position: relative;
        display: flex;
        margin-top: 90px;
        justify-content: center;
        align-items: center;

        @include media-sm{
            margin-top: 40px;
        }
    }

    &__dots{
        position: relative;
        display: inline-flex;
        justify-content: center;
        margin: 0 15px;
        padding: 0;
        top: auto;
        transform: none;
        order: 1;
    }

    &__dots &__dot{
        position: relative;
        width: 28px;
        height: 28px;
        margin: 0 5px;

        &:before{
            content: "\e90f";
            color: $cyan;
            font-family: 'icons';
            font-size: 28px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1;
        }

        &:after{
            opacity: 0;
            color: $pink;
            font-family: 'icons';
            font-size: 12px;
            position: absolute;
            top: 50%;
            left: 50%;
            border-radius: 0;
            width: 12px;
            height: 12px;
            background-color: transparent;
            transform: translate(-50%, -50%);
            z-index: 0;
        }

        &:hover:after{
            content: "\e90f";
            opacity: 1;
        }

        &.is-selected:after{
            content: "\e90e";
            opacity: 1;
        }
    }

    &__button.is-prev,
    &__button.is-next{
        position: relative;
        width: 100px;
        height: 7px;
        font-size: 0;
        top: 2px;
        transform: none;
        color: $cyan;
        transition: $transition;

        @include media-xs{
            position: absolute;
            top: 50px;
        }

        span, svg{
            display: none;
        }

        &:after{
            font-family: 'icons';
            font-size: 7px;
        }

        &:not(:disabled):hover{
            color: $pink;
        }

        &.disabled{
            opacity: 0.5;
        }
    }

    &__button.is-prev{
        order: 0;

        @include media-sm{
            left: 0;
        }

        &:after{
            content: "\e917";
        }
    }

    &__button.is-next{
        order: 2;

        @include media-sm{
            right: 0;
        }

        &:after{
            content: "\e916";
        }
    }
}

//CSS style for Owl carousel
.owl-carousel{
    .owl-nav{
        position: relative;
        display: flex;
        margin-top: 90px;
        justify-content: center;
        align-items: center;

        @include media-sm{
            margin-top: 40px;
        }
    }

    .owl-dots{
        position: relative;
        display: inline-flex;
        justify-content: center;
        margin: 0 15px;
        padding: 0;
        top: auto;
        transform: none;
        order: 1;
    }

    .owl-dots .owl-dot{
        position: relative;
        width: 28px;
        height: 28px;
        margin: 0 5px;

        &:before{
            content: "\e90f";
            color: $cyan;
            font-family: 'icons';
            font-size: 28px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1;
        }

        &:after{
            opacity: 0;
            color: $pink;
            font-family: 'icons';
            font-size: 12px;
            position: absolute;
            top: 50%;
            left: 50%;
            border-radius: 0;
            width: 12px;
            height: 12px;
            background-color: transparent;
            transform: translate(-50%, -50%);
            z-index: 0;
        }

        &:hover:after{
            content: "\e90f";
            opacity: 1;
        }

        &.active:after{
            content: "\e90e";
            opacity: 1;
        }
    }

    .owl-prev,
    .owl-next{
        position: relative;
        width: 100px;
        height: 7px;
        font-size: 0;
        top: auto;
        transform: none;
        color: $cyan !important;
        transition: $transition;

        @include media-xs{
            position: absolute;
            top: 50px;
        }

        span, svg{
            display: none;
        }

        &:after{
            position: absolute;
            top: 2px;
            left: 0;
            font-family: 'icons';
            font-size: 7px;
        }

        &:not(.disabled):hover{
            color: $pink !important;
        }

        &.disabled{
            opacity: 0.5;
        }
    }

    .owl-prev{
        order: 0;

        @include media-sm{
            left: 0;
        }

        &:after{
            content: "\e917";
        }
    }

    .owl-next{
        order: 2;

        @include media-sm{
            right: 0;
        }

        &:after{
            content: "\e916";
        }
    }
}

//CSS style for carouselTicker
.carouselTicker{
    &__list {
        overflow: hidden;
    }
}