.fancybox__backdrop {
    background: $dark-90;
}

.modal{
    display: none;
    position: relative;
    width: 100%;
    max-width: 460px;
    padding: 40px 30px 45px 30px;
    margin: 0;
    color: $font;
    cursor: default;

    .carousel__button.is-close{
        position: absolute;
        top: 15px;
        right: 20px;
        width: auto;
        height: auto;
        color: $cyan;
        transition: $transition;

        &:hover{
            opacity: 0.8;
        }

        svg{
            width: 30px;
            height: 30px;
            stroke-width: 2;
            filter: none;
        }
    }

    &__title{
        position: relative;
        padding: 0 50px;
        @include font-700;
        font-size: 24px;
        text-transform: uppercase;
        color: $primary;
        text-align: center;
    }

    &__body{
        position: relative;
        text-align: center;
        margin-top: 45px;
        z-index: 1;
    }

    &__body-text{
        position: relative;
        text-align: left;

        p{
            font-size: 16px;
            font-weight: 300;
        }

        .dotted-list span{
            @include font-400;
            text-transform: uppercase;
            font-size: 14px;
        }

        .dotted-list b{
            @include font-700;
            text-transform: uppercase;
            font-size: 16px;
        }
    }

    &__body-icon{
        position: relative;
        text-align: center;
        margin-top: 40px;

        img{
            max-width: 100%;
        }
    }

    &__btn{
        position: relative;
        display: flex;
        justify-content: center;
        margin-top: 50px;
        z-index: 1;

        .btn{
            width: 100%;
            max-width: 150px;

            &:focus{
                outline: none !important;
            }
        }
    }
}