* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
    height: 100%;
}


/* SITE
--------------------------------------------- */
body.template {
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
    color: $font;
    background-color: $dark-bg;
    background-repeat: no-repeat;
    background-position: center top;
    overflow-x: hidden;

    @include scrollbar(10px);

    @include media-screen-large{
        background-position: center top;
    }

    .main-content {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        min-height: 100%;
        overflow: hidden;
    }

    .wrapper {
        position: relative;
        flex: 1 0 auto;
        width: 100%;
        height: 100%;
        padding-bottom: 200px;

        @include media-mdx{
            padding-bottom: 150px;
        }
    }

    .container {
        position: relative;
        width: 100%;
        max-width: 1200px;
        padding: 0 15px;
        margin: 0 auto;
        z-index: 1;

        &.container--offset{
            max-width: 1320px;
        }

        &.container--aside{
            max-width: 550px;
        }
    }

    /* Blocks Import
    --------------------------------------------- */
    @import "site/hero";

    @import "site/header";

    @import "site/footer";

    @import "site/about";

    @import "site/advantages";

    @import "site/plans";

    @import "site/calc";

    @import "site/ecosystem";

    @import "site/referral";

    @import "site/networks";

    @import "site/mission";

    @import "site/roadmap";

    @import "site/reviews";

    @import "site/faq";

    @import "site/contact";

    @import "site/contact-form";

    @import "site/bonuses";

    @import "site/terms";

    @import "site/signin";

    @import "site/partners";
}


/* DASHBOARD
--------------------------------------------- */
body.dashboard {
    font-size: 16px;
    font-weight: 300;
    line-height: 1;
    color: $font;
    background-color: $dark-bg;
    overflow-x: hidden;

    @include scrollbar(10px);

    .main-content {
        position: relative;
        display: flex;
        min-height: 100%;
        padding: 0 20px 0 0;
        z-index: 5;

        @include media-lgx{
            flex-wrap: wrap;
            max-width: 100%;
        }

        @include media-lg{
            padding: 0 20px;
        }

        @include media-xs{
            padding: 0 10px;
        }
    }

    .wrapper {
        position: relative;
        flex: 1 1 auto;
        padding: 0 65px;
        width: calc(100% - 590px);

        @include media-lgx{
            width: 100%;
            max-width: calc(100% - 220px);
            margin-left: auto;
            padding: 0 0 0 15px;
        }

        @include media-lg{
            max-width: none;
            padding: 0;
        }

        @include media-xs{
            overflow: hidden;
        }
    }

    /* Blocks Import
    --------------------------------------------- */
    @import "db/header";

    @import "db/navigation";

    @import "db/footer";

    @import "db/sidebar";

    @import "db/statistics";

    @import "db/submenu";

    @import "db/userdata";

    @import "db/deposit";

    @import "db/deposits";

    @import "db/calc-form";

    @import "db/plans";

    @import "db/currency";

    @import "db/profit";

    @import "db/filter";

    @import "db/table";

    @import "db/referral-link";

    @import "db/transactions";

    @import "db/partners";

    @import "db/settings";

    @import "db/bounty";

    @import "db/transfer";

    @import "db/exchange";
}
